<div class="row">
<div class="col-md-12">
<%= form_tag({action: :creating_gifts}) do %>
<h1>Generar Regalos</h1>
    <hr/>
      <p>Inserte en cada regalo la cantidad disponible para este evento. Cada </p>
      <br/>
<br/>
    <%= hidden_field_tag :event_id, params[:event_id] %>
  <div class="row">
      <div class="col-md-3 field">
        <%= label_tag 'Special guest' %><br>
        <div class="row">
            <div class="col-md-12"><%= number_field_tag 'gifts[guest]',0, class: 'form-control' %></div>
        </div>
      </div>
      <div class="col-md-3 field">
        <%= label_tag 'Bolso Playa' %><br>
        <div class="row">
          <div class="col-md-12"><%= number_field_tag 'gifts[bolso]',0, class: 'form-control' %></div>
        </div>

      </div>
      <div class="col-md-6 field">
        <%= label_tag 'T-shirt Absolut' %><br>
        <div class="row">
          <div class="col-md-4"><%= number_field_tag 'gifts[tshirt]',0, class: 'form-control' %></div>
          <div class="col-md-4"><%= number_field_tag 'gifts[tshirt1]',0, class: 'form-control' %></div>
          <div class="col-md-4"><%= number_field_tag 'gifts[tshirt2]',0, class: 'form-control' %></div>
        </div>

      </div>
      <div class="col-md-6 field">
        <%= label_tag 'Gorra Absolut' %><br>
        <div class="row">
          <div class="col-md-6"><%= number_field_tag 'gifts[gorra]',0, class: 'form-control' %></div>
          <div class="col-md-6"><%= number_field_tag 'gifts[gorra1]',0, class: 'form-control' %></div>
        </div>

      </div>
      <div class="col-md-6 field">
        <%= label_tag 'Cocktail Absolut' %><br>
        <div class="row">
          <div class="col-md-6"><%= number_field_tag 'gifts[cock]',0, class: 'form-control' %></div>
          <div class="col-md-6"><%= number_field_tag 'gifts[cock1]',0, class: 'form-control' %></div>
        </div>

      </div>

  </div>
      <div class="row">
          <div class="col-md-12 field">
            <%= submit_tag 'Crear' %>
          </div>
      </div>
</div>
<% end %>
</div>

<script type="text/javascript" charset="utf-8">
    //<![CDATA[

    $('#gifts_glasses').click(function() {


    });

    //]]>
</script>