<div class="col-md-12">
  <div id="edad">
<<<<<<< HEAD
      <h1 class="text-hide"><%= image_tag 'tl-18anos.png', class: 'img-responsive img-center' %>¿Tienes 18 años o más?</h1> <br>
        <p class="mbottom">Al participar aceptas nuestros términos y condiciones, <br/> así como nuestra política de privacidad</p>
        <p class="text-hide" style="margin-bottom: 60px; color: black;">.</p>
      <%= link_to "SÍ", ruleta_path, class: 'btn btn-lg' %>
=======
      <h1 class="text-hide"><%= image_tag 'tl-18anos.png', class: 'img-responsive img-center' %>¿Tienes 18 años o más?</h1>
        <p class="mbottom">Al participar aceptas nuestros términos y condiciones, <br/> así como nuestra política de privacidad</p>
        <p class="text-hide" style="margin-bottom: 60px; color: black;">.</p>
      <%= link_to "SÍ", "javascript:;", class: 'btn btn-lg e-yes' %>
>>>>>>> 9d7edc9c10147d76a7c0108b736248d292b34c25
      <%= link_to "NO", "javascript:;", class: 'e-no btn btn-lg' %>
  </div>
  <div id="reto" style="display: none;">
    <h1 class="text-hide"><%= image_tag 'tl-participa.png', class: 'img-responsive img-center' %>Participa y Gana</h1>
    <%= image_tag 'home-image.png', class: 'img-responsive img-center', id: 'spin' %>
    <%= link_to "SI", ruleta_path, class: 'btn btn-lg' %>
    <%= link_to "NO", start_path, class: 'btn btn-lg' %>
  </div>
</div>

<%= javascript_tag do -%>
    //Edad: Si
    $('.e-yes').click(function() {
        $( "#edad" ).slideUp( "fast" ),
        $( "#reto" ).slideDown( "fast" );
    });

    //Edad: NO
    $('.e-no').click(function() {
        alert("Lo sentimos. Debes ser mayor de edad para participar.\n Gracias");
    });

<% end -%>