<li class="start">
  <%= link_to entries_path do %>
      <i class="icon-home"></i>
      <span class="title">Entradas</span>
  <% end %>
</li>
<li>
  <%= link_to customers_path do %>
    <i class="icon-group"></i>
    <span class="title">Consumidores</span>
  <% end %>
</li>
<li>
  <%= link_to events_path do %>
    <i class="icon-star"></i>
    <span class="title">Eventos</span>
  <% end %>
</li>
<li>
  <%= link_to collector_index_path do %>
    <i class="icon-bar-chart"></i>
    <span class="title">Promotoras</span>
  <% end %>
</li>
<<<<<<< HEAD
<li style="display:none;">
=======
<li>
>>>>>>> 9d7edc9c10147d76a7c0108b736248d292b34c25
  <%= link_to djs_path do %>
      <i class="icon-music"></i>
      <span class="title">Djs</span>
  <% end %>
</li>